@charset 'UTF-8';
.fa {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% 100%;
  display: inline-block;
}
.ft-home {
  background-image: url('../images/footer/home.png');
}
.ft-home-on {
  background-image: url('../images/footer/on_home.png');
}
.ft-assemble {
  background-image: url('../images/footer/assemble.png');
}
.ft-assemble-on {
  background-image: url('../images/footer/on_assemble.png');
}
.ft-team {
  background-image: url('../images/footer/team.png');
}
.ft-team-on {
  background-image: url('../images/footer/on_team.png');
}
.ft-mine {
  background-image: url('../images/footer/mine.png');
}
.ft-mine-on {
  background-image: url('../images/footer/on_mine.png');
}
.fa-msg {
  background-image: url('../images/icon/fa-msg.png');
  width: 0.7rem;
  height: 0.7rem;
}
.fa-search {
  background-image: url('../images/icon/fa-search.png');
  width: 0.4rem;
  height: 0.4rem;
}
.fa-set {
  background-image: url('../images/icon/fa-set.png');
  width: 0.44rem;
  height: 0.44rem;
}
.fa-address {
  background-image: url('../images/mine/address.png');
  width: 0.44rem;
  height: 0.44rem;
}
.fa-add-address {
  background-image: url('../images/home/address_add.png');
  width: 0.44rem;
  height: 0.44rem;
}
.fa-sel {
  background-image: url('../images/icon/fa-sel.png');
  width: 0.44rem;
  height: 0.44rem;
}
.fa-on-sel {
  background-image: url('../images/icon/fa-on-sel.png');
  width: 0.44rem;
  height: 0.44rem;
}
.fa-check {
  background-image: url('../images/icon/check.png');
  width: 0.4rem;
  height: 0.4rem;
}
.fa-on-check {
  background-image: url('../images/icon/on_check.png');
  width: 0.4rem;
  height: 0.4rem;
}
.fa-close-screen {
  background-image: url('../images/icon/close-screen.png');
  width: 0.8rem;
  height: 0.8rem;
}
.fa-back {
  background-image: url('../images/icon/fa-back.png');
  width: 0.5rem;
  height: 0.5rem;
}
