<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="./css/bui.css" rel="stylesheet"> 
    <link href="./css/style.css" rel="stylesheet"> 
    <style type="text/css">
    body,html,#app{
        height: 100%;
        /* background: linear-gradient(left, #39bcff, #2489fc);
        background: -webkit-linear-gradient(left, #39bcff, #2489fc); */
    }
    
        
    </style>
</head> 

<body>
    <div class="bui-page" id="app">
           
        <header class="bui-bar" >
            <div class="bui-bar-left" @click="$cs.closeWin('./mine_pub_coupon.html')">
                <a class="bui-btn btn-back"><i class="icon-back"></i></a>
            </div>
            <div class="bui-bar-main">互转</div>
            <div class="bui-bar-right" >
                <a class="bui-btn"></a>
            </div>
        </header>
        
        <main v-cloak>
           <div class="recharge-page">
               
               <div class="wrap-from">
                    <div class="item ">
                        <div class="label">对方账户</div>
                        <div class="flex1">
                            <input type="text" placeholder="请输入对方手机号" v-model="phone">
                        </div>
                    </div>
                    <div class="item ">
                        <div class="label">转让数量</div>
                        <div class="flex1">
                            <input type="text" placeholder="目前可用众利豆0个" v-model="amount">
                        </div>
                    </div>
                </div>
                <ul class="c-gray size-12 p-10">
                    <li class="mt-5">1.仅在一条推荐关系线上的会员之间允许互转</li>
                    <li class="mt-5">2.团长与团长之间可以任意互转</li>
                    <li class="mt-5">3.300起转,数量为100的倍数</li>
                </ul>
               <div class="btn-app mt-50" @click="commit()">确认</div>
           </div>
        </main>

        
   
</div>
<script src="./js/jquery.js"></script>
<script src="./js/vue.js"></script> 
<script src="./js/bui.js"></script>
<script src="./js/md5-min.js"></script>
<script src="./js/common.js"></script> 
<script src="./js/jquery.qrcode.min.js"></script> 

<script type="text/javascript">
 
    init()
    function init(){
        bui.ready(function(){
            // 快速初始化 1.5.2 新增 data参数 动态渲染
            var _vue = new Vue({
                el: '#app',
                data: {
                    
                    phone:'',
                    amount:"",
                    on_disable:false
                },

                mounted() {
                   
                },
                methods: {
                    
                    commit(){
                        var _this = this
                        if(this.on_disable) return;
                        if(!this.phone) return $cs.msg(' 请输入对方手机号');
                        if(!this.amount) return $cs.msg(' 请输入转让数量');
                        if( Number(this.amount) < 300  || this.amount %100 !=0 ) return $cs.msg('100起提,10的倍数') 
                        

                        var params = {
                            amount : this.amount,
                            phone : this.phone
                        }
                        // $cs.ajax('Member/withdrawal',params , function(ret){
                        //     if(ret.success){
                        //         $cs.msg(ret.data || '操作成功')
                        //         location.replace('./mine_pub_coupon.html')
                        //     }else{
                        //         $cs.msg(ret.message || '操作失败')
                        //     }
                        // })
                    }
                },
                
            });
        })
    }
                
    

        

        


</script>
</body>
</html>